Harmonize IP TOS Values

@HakanCalimFau was seeing validation errors when trying to run `latency` with `--ip-tos 200005`.

IP TOS is not consistent in naming or how it's applied throughout the system.

| Test | How Named | How Defined |
|------|-------------|--------------|
| `latencybg` | `ip-tos` | `#/pScheduler/IPTOS` |
| `latency` | `ip-tos` | `#/pScheduler/IPTOS` |
| `rtt` | `tos` | `#/pScheduler/Cardinal` |
| `throughput` | `tos` | `#/pScheduler/Cardinal` |
| `trace` | `tos` | `#/pScheduler/Cardinal` |


[RFC 2474, Section 3](https://tools.ietf.org/html/rfc2474) defines an 8-bit number with 6 bits allotted for the DSCP field, giving valid values of `0` to `63`.  This is how `IPTOS` is defined in the JSON dictionary. 

Some programs (`ping`) expect the full DSFD byte; others are ambiguous.  Need to find out what's more common and make the `IPTOS` definition reflect that.

This is further complicated by some tools using this value as the IPv6 traffic control value.  Better to make `tos` and `tc` separate and complain if they're used in the wrong context.


For additional consideration:

## Tests and Tools

### RTT

`ping/ping6` - `-Q tos` takes the entire byte (DSCP << 2).  Doesn't appear to care about the two low bits.

### Throughput

`iperf3` - `-S tos` takes the entire byte according to the code.
`iperf` - Doesn't support any of this.
`nuttcp` - `-c dscp-value` sets DSCP value; adding a `t` or `T` suffix makes it set the value for the entire byte.  (Ergo, `-c 26` becomes `104`, `-c 104t` is left alone as `104`.)

### Trace

`traceroute/traceroute6` - Appears to take the full byte.
`tracepath` - Not supported at all
`paris-traceroute` - Not supported at all


## Final decision

The parameter name will be `tos` and the value will be the entire byte.




This appears to have made its way out to the test bed and everybody's happy.